.conteneurAccueil {
    padding: 1px;
    margin: 1px;

    background-color: #474545;
    color: #ae1c1c;
}

.conteneurAccueil span {
    color: #fb911f;
    font-size: 1.5em;
    font-weight: 600;
}

.item1 {
    grid-area: header;
    background-color: #07673f;
    /* Change the background color to your desired color */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 2px;
}

.detect {
    padding: 10px;
}


.item3,
.item4 {
    grid-area: main;
    /* Assurez-vous que item3 a une hauteur spécifiée pour que l'image puisse s'adapter correctement */

    height: 300px;
    /* Exemple de hauteur fixe pour item3 */
    display: flex;

}

.item3 img,
.item4 img {
    /* L'image occupera toute la taille de item3 */
    width: 100%;
    height: 100%;
    /* Assurez-vous que l'image ne se déforme pas et conserve son ratio hauteur/largeur */
    object-fit: contain;
}



.item4 {
    grid-area: right;
}




.item5 {
    grid-area: footer;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    max-width: 100%;
}


.column {
    flex: 1;
    padding: 5px;
    text-align: center;
    border: 1px solid #ddd;

}

.column p {
    font-size: 1.2rem;
    font-weight: bold;
    color: black;

    text-align: left;
    margin: 1px 25px;
}


.gridcontainer {
    display: grid;
    grid-template-areas:
        'header header  header header header'
        'menu main main  right right'
        'menu footer  footer footer footer';
    gap: 5px;
    background-color: #0f2314;


}

.resultaPresict {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;

}

.start {

    flex: 1;
}





.gridcontainer>div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 10px 0;
    font-size: 30px;
}

/* Updated styles for the "Menu" section */
.item2 {
    grid-area: menu;
    background-color: #083a25;
    /* Change the background color to your desired color */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 90px 20px;
}

/* Additional styles for the buttons */
.button,
label {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0px;
    margin: 5px 10px;
    border: 2px solid #4CAF50;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
    width: 90%;
}

/* Hover effect for buttons */
.button:hover {
    background-color: #45a049;
    /* Darken the background color on hover */
}

.divGlob {
    display: flex;
    justify-content: center;
    width: 100%;
    color: aliceblue;
    padding: 2px 30px;




    background-color: #0f6112;
}



.resultPreduc {
    width: 40%;
    background-color: rgb(3, 71, 49);
    align-content: start;
    margin: 5px;
    color: aliceblue;
}

.container {
    width: 100%;
    height: 100%;
}

h1 {
    color: #fff;
}

input,
select {
    width: 200px;
    font-size: 16px;
    font-weight: bold;
    background-color: #f2f2f2;
    color: #333;
    border-radius: 5px;
} 